.bg {
  background-color: #fff;
}

.Row {
  height: 100%;
}

.Bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.25;
  object-fit: cover;
  object-position: center;
}
