.app {
  height: 100%;
  min-height: 100vh;
  background-color: #344c72;
  background: linear-gradient(360deg, #344c72 0%, #c5d7ef 25%);
}

@media screen and (orientation: portrait) and (max-width: 1024px) {
  .app {
  }
}
