.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  height: 100%;
}

.ContainerTitle {
  span {
    transition: all 300ms;
  }
}

.TableCustom {
  width: 100%;
  border-spacing: 0;

  tr {
    //
  }
  td {
    border: 1px solid #344c72;
    background-color: #ffffff;
    width: 25%;
  }
  * {
    color: #000000;
  }
}
td.CelSelected {
  background-color: #e3e3e3;
}
td.CelHide {
  empty-cells: hide !important;
  visibility: hidden;
  border: none;
}
td.CelWatermark {
  border: none;
  background-color: transparent;
  .CelWatermarkText {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.2em;
    padding: 3px 15px;
    font-size: 2em;
    opacity: 0.3;
  }
}
.Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
  text-align: center;
  @media (max-width: 600px) {
    font-size: 0.8em;
  }
  span {
    transition: all 300ms;
  }
}
.Value {
  font-weight: bolder;
  font-size: 2em;
}

.ColCustom {
  margin: 0;
  padding: 0;
}

.CardRow {
  font-size: 1.5em;
  display: flex;
  span {
    transition: all 300ms;
  }
}

.Watermark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  text-transform: uppercase;
  line-height: 1;
  opacity: 0.5;
}

.CSSTransitionAppearActive {
  .CardRow > span,
  .ContainerTitle > span,
  .Card > span {
    opacity: 0;
  }
}
.CSSTransitionAppearDone {
  .CardRow > span,
  .ContainerTitle > span,
  .Card > span {
    opacity: 1;
  }
}
.CSSTransitionEnterActive {
  .CardRow > span,
  .ContainerTitle > span,
  .Card > span {
    opacity: 0;
  }
}
.CSSTransitionEnterDone {
  .CardRow > span,
  .ContainerTitle > span,
  .Card > span {
    opacity: 1;
  }
}
.CSSTransitionExitActive {
  .ContainerTitle > span,
  .Card > span {
    opacity: 0;
  }
}
.CSSTransitionExitDone {
  .CardRow > span,
  .ContainerTitle > span,
  .Card > span {
    opacity: 1;
  }
}
